<div class="container" >
    <div class="row">

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">User Name :</h5>
     
      <p class="card-text">{{UserList.UserName}}</p>
      
    </div>
  </div>

  
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Designation :</h5>
     
      <p class="card-text"> {{UserList.Designation}}</p>
      
    </div>
  </div>

  
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Department: </h5>
     
      <p class="card-text"> {{UserList.Department}}</p>
      
    </div>
  </div>
</div>
