<!-- side nav of user -->
<div class="side-nav-content">
    <ul class="nav-list" [ngClass]="{'nav-list-open': sideNavStatus}">
         
  
        <li class="nav-list-item">
            <a routerLink="Home" >
                
                <i class='fa-solid fa-house white-color'></i>
                
            <span>
                Home
            </span>  </a>
        </li>

        <li class="nav-list-item">
            <a routerLink="viewadded"  >
                <i class="fa-solid fa-user"></i>
                <span>
                     Employee Profile
                 </span>  </a>
               
        </li>

   <!-- leave details for user -->
        <li class="nav-list-item">
            <a routerLink="task">
                <i class='fas fa-address-card'></i>
                <span>
                    Leave Application
                </span>
            </a>
        </li>




         <li class="nav-list-item">
                <a routerLink="addnew">
                     <i class="fa-solid fa-network-wired"></i>
                     <span>
                        EmployeeDetails Add
                        </span>  </a> 
                        
                      
                        
                </li>

                
       
       
                    
         
        
           <!-- logout -->
        <li class="nav-list-item">
            <a (click)="logOut()">
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                <span>
                    Logout
                </span>
            </a>
        </li>
    </ul>
</div>