<div class="container" style="height: 660px;">
    <div class="p-5 text-center center border border-5" *ngFor="let employee of employeeData_get">
        
<div class="container">
    <div class="row">


<div class="card" style="width: 18rem; height: 10rem;" >
    <div class="card-body">
      <h5 class="card-title">User Name:</h5>
      <p class="card-text">{{employee.UserName}}</p>
      <p class="card-text">Email:{{employee.Email}}</p>
    
    </div>
  </div>
  &nbsp;

  
<div class="card" style="width: 18rem; height: 10rem;" >
    <div class="card-body">
      <h5 class="card-title">EmergencyContact: </h5>
      <p class="card-text">{{employee.EmergencyContact}}</p>
    
    </div>
  </div>

  &nbsp;
  <div class="card" style="width: 18rem; height: 10rem;" >
    <div class="card-body">
      <h5 class="card-title">BloodGroup: </h5>
      <p class="card-text">{{employee.BloodGroup}}</p>
    
    </div>
  </div>
  &nbsp;

  <div class="card" style="width: 18rem; height: 10rem;" >
    <div class="card-body">
      <h5 class="card-title">WorkLocation: </h5>
      <p class="card-text">{{employee.WorkLocation }}</p>
    
    </div>
  </div>

  &nbsp;
  
  <div class="card" style="width: 18rem; height: 10rem;" >
    <div class="card-body">
      <h5 class="card-title">Designation : </h5>
      <p class="card-text">{{employee.Designation }}</p>
    
    </div>
  </div>

  &nbsp;
   
  <div class="card" style="width: 18rem; height: 10rem;" >
    <div class="card-body">
      <h5 class="card-title">Department: </h5>
      <p class="card-text">{{employee.Department}}</p>
    
    </div>
  </div>

          
</div>
</div>
